.sidebar-container{
  width: 200px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(151, 59, 136));
  height: 593px;
  box-shadow: 0px 8px 8px 0px rgb(22, 1, 1);
  text-align: center;
  padding: 50px;

 
}
.text{
  font-size: 30px;
  margin-top: 30px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.text:hover{
  color: aliceblue;
}


#img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 90%;
}
.about-container{
  padding-left: 50px;
  padding-top: 50px;
}
.name{
  font-size: 100px;
  font-family: calc();
  color: rgb(161, 46, 117);
  margin-bottom: 10px;
  margin-top: 0;
}
#about-content{
  margin-top: 40px;
  opacity: 0.5;
  font-size:20px;
  width: 1100px;
}
.about-details{
  font-size: 25px;
  font-weight: 900;
  opacity: 0.6;
}
.education-container{
  padding: 50px;
  padding-top: 20px;
}
#education{
  font-size: 70px;
  color: rgb(74, 141, 8);
}
section{
  margin-left: 200px;
  color: red;
  margin-top: 30px;
}
.college{
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  font-style: italic;

}
.course{
  font-style: italic;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 2px;

}
.institute{
  font-size: 20px;
  margin-top: 0px;
}
.skill-container{
  padding: 50px;
}
.interest-container{
  padding: 50px;
}
.interest-content{
  font-size: 20px;
  width: 1000px;
  opacity: 0.7;
}
.interests{
  font-size: 70px;
  font-weight: 700;
  color: rgb(76, 76, 194);
}
.App{
  display: flex;
  align-content: space-between;
}
.icons{
  padding: 5px;
  margin-top: 30px;
  cursor: pointer;
}
.icon1:hover{
  transform: rotate3d();
  transition: 0.5s;
  color: darkblue;
}
.icon2:hover{
  transform: rotate3d();
  transition: 0.5s;
  color: black;
}
.icon3:hover{
  transform: rotate3d();
  transition: 0.5s;
  color: blue;
}
.icon4:hover{
  transform: rotate3d();
  transition: 0.5s;
  color: rgb(202, 42, 69);
}